.input-field {
    font-family: monospace;
    font-weight: 400;
    padding: 0;
    background-color: black;
    color: white;
    border: none;
    height: var(--terminal-input-height);
    flex: 2;
    box-sizing: border-box;
    font-size: 10pt;
}

    .input-field:focus {
        outline: none;
        box-shadow: none;
    }

.input-knotch {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: .25em;
    padding-right: .5em;
    color: white;
    text-align: center;
    font-size: 10pt;
}

.input-wrapper {
    height: var(--terminal-input-height);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 10pt;
}
