.icon-container {
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in-out;
}
    .icon-container:hover {
        cursor: pointer;
        background-color: rgba(0,0,0,0.2);
        
        transition: 0.1s ease-in-out;
    }

.icon-container.active {
    background-image: radial-gradient(rgba(0,0,0,0.3) 30%, rgba(0,0,0,0.25) 50%, rgba(0,0,0,0.2) 60%, rgba(0,0,0,0.25) 70%);
    border-radius: 5px;
    transition: 0.1s ease-in-out;
}

.task-icon {
    width: 1.25em;
    height: 1.25em;
    background-color: rgba(0,0,0,0.0);
    border-radius: 8px;
    margin: 0 0.25em;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
    .task-icon.start {
        border-radius: 0 8px 8px 0;
        border: 1px solid #053B0D;
        margin: 0;
        padding: 0 5px;
        width: min-content;
        height: 2.1em;
        background: #16c436;
        background: radial-gradient(circle, rgba(22, 196, 54, 1) 18%, rgba(14, 158, 41, 1) 77%);
        box-shadow: 1px 0px 5px 2px rgba(0,0,0,0.3);
        anchor-name: --start-menu;
    }

        .task-icon.start:hover {
            cursor: pointer;
            transform: translateY(0);
            transition: 0.1s ease-in-out;
        }



.task-icon.start .icon-img {
    height: 70%;
}

.icon-text {
    color: white;
    font-style: italic;
    font-weight: bold;
    text-shadow: 1px 1px #555;
    margin: 0;
    padding: 0 .25em;
}

@media (max-aspect-ratio: 3/4) {
    .icon-container {
        height: 5em;
    }

    .task-icon {
        width: 3em;
        height: 3em;
    }

    .task-icon.start {
        height: 100%;
        padding: 0.25em 0.5em;
        display: flex;
        flex-direction: column;
    }

    .icon-text {
        height: 0;
        padding: 0;
        margin: 0;
        scale: 0;
    }
}