.window-frame {
    border: 0.25em solid var(--window-color);
    border-radius: 3pt;

    background-color: var(--window-color);
    box-shadow: 2px 2px 3px 3px rgb(73, 73, 73, 0.52);
    position: fixed;

    box-sizing: border-box;
    top: calc(50% - 25dvh);
    left: calc(50% - 25dvw);
    
    display: flex;
    flex-direction: column;
    z-index: 1000;
}
    .window-frame.start, .window-frame.init, .window-frame.start .window-body {
        transition: var(--window-animation-speed);
    }

    .window-frame.init {
        width: 50dvw;
        height: 50dvh;
    }

    .window-frame.init.shrunken {
        height: min-content;
        max-width: 40dvw;
    }

    .window-frame.start {
        width: 0dvw;
        height: 0dvh;
        overflow: hidden;
    }

    .window-frame.start .window-body {
        opacity: 0;
    }


.window-body {
    border: 1px solid #ffffff81;
    background-color: var(--window-background-color);
    margin: 0;
    position:relative;
    flex: 1;
    min-height: 0;
    overflow: scroll;
    opacity: 1;
}

.title-bar {
    height: 1em;
    background-color: var(--window-color);
    font-weight: bold;
    display: flex;
    gap: 0.25em;
    align-items: center;
    padding: 0.25em;
    box-shadow: 0px 2px 3px 3px rgba(100,100,100,0.1);
}


.window-icon {
    height: 100%;
    aspect-ratio: 1/1;
}

.window-title {
    color: white;
    font-weight: 400;
    flex: 2;
}

.window-button {
    color: white;
    box-sizing: border-box;
    border-radius: 5px;
    display:flex;
    height: 100%;
    aspect-ratio: 1/1;
    font-weight: 300;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    box-shadow: 1px 1px 3px 3px rgb(68 68 68 / 0.17);
    transition: 0.1s ease-in-out;
}
.window-button:hover {
    filter:brightness(1.1);
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.window-button.exit {
    background-color: #f00;
}

/* Start Menu Classes */
.start-menu-frame {
    border: 0.25em solid var(--window-color);
    border-bottom-width: 0.5em;
    border-radius: 5pt 5pt 0 0;
    background-color: white;
    position: fixed;
    align-self: flex-end;
    z-index: 10002;
    width: 20em;
    height: 30em;
    
}
    .start-menu-frame, .start-menu-frame.start {
        transition: var(--window-animation-speed);
    }

    .start-menu-frame.start {
        width: 0;
        height: 0;
        overflow: hidden;
    }

.window-click-catcher {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10001;
}